@{
    ViewBag.Title = "Tarifas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-xs-12 col-sm-8 col-md-9">

    <div class="container">
        <h2 class="text-center font-weight-light">Tarifas <br /></h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <img class="rounded img-fluid" width="250" src="~/img/3-3.jpg" alt="Estandar ">
                    </div>
                    <div class="col-8 col-sm-8">
                        <h4 class="font-italic">Estándar</h4>
                        <p class="font-weight-light text-justify">
                            Cómodamente decoradas y amplias, la habitación tiene una sala de estar independiente, mini refri, etc.
                        </p>
                        <ul>
                            <li class="font-weight-light">Capacidad máxima: 4 personas</li>
                            <li class="font-weight-light">Precio por noche: $65</li>
                            <li class="font-weight-light">Aire acondicionado</li>
                            <li class="font-weight-light">Televisión por cable</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <img class="rounded img-fluid" src="~/img/103214597.jpg" alt="Superior" width="250">
                    </div>
                    <div class="col-8 col-sm-8">
                        <h4 class="font-italic">Suite</h4>
                        <p class="font-weight-light  text-justify">
                            ¡Perfecta para parejas! Un delicado y bello interior que hacen de esta habitación un lugar perfecto para relajarse y vivir el romance.
                        </p>
                        <ul>
                            <li class="font-weight-light">Capacidad máxima: 2 personas</li>
                            <li class="font-weight-light">Precio por noche: $105</li>
                            <li class="font-weight-light">Botella de vino incluído</li>
                            <li class="font-weight-light">Jacuzzi en la terraza</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

