
@{
    ViewBag.Title = "ContactoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-xs-12 col-sm-8 col-md-9">

    <h1 class="font-italic text-center">Contáctenos</h1>
    <p class="font-weight-light text-justify">
        Para SunSet Hotel será un placer poder comunicarnos con usted para cualquier tipo de consulta. A continuación, se le muestra una serie de medios por el cual podrá
        comunicarse con nosotros.
    </p>

    <p class="font-weight-light text-justify">
        Télefono: 8888-8888 <br />
        Apartado Postal: 8976-SSH <br />
        Correo electrónico: ssinfo@sunset.com

    </p>

</article>

