@{
    ViewBag.Title = "ComoLlegar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-xs-12 col-sm-8 col-md-9">

    <div class="row">
        <div class="container">
            <h2 class="font-italic">¿Cómo llegar?</h2>
            <p class="font-weight-light text-justify">
                ¡Fácil y rápido! Te mostramos el camino a seguir para llegar a nosotros, donde sea que estés y cuando quieras podrás consultar que ruta debes tomar para que llegues a Sunset Hotel sin ningún problema.
            </p>
            <div id="map">
            </div>
        </div>
    </div>
</article>

<script src="~/Scripts/scriptViews/comoLlegar.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1JuYmoq83Om5mLz0qyg_k1viClteC2NU&callback=initMap"></script>
<script>
    initMap();
</script>


