
@{
    ViewBag.Title = "HabitacionDisponible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-italic text-center">Reserva En L&iacute;nea</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-8 col-sm-8">
                        <form action="Reserva/Reserva" method="post">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

