
@{
    ViewBag.Title = "ResultadoReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="container">
        <h2 class="font-italic text-center">Reporte de Reserva</h2>
        @{
            if (ViewBag["Resultado"]) {
                <p>
                    ¡En hora buena! Su reserva se ha realizado con éxito. A continuación, se le muestra la información
                    de su reserva.
                </p>
                <table class="table table-bordered">
                    <thead>
                        <tr class="table-info">
                            <th>Cliente</th>
                            <th>Correo Electrónico</th>
                            <th>Número de Reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger">
                            <td>@ViewBag["Cliente"]</td>
                            <td>@ViewBag["Correo"]</td>
                            <td>@ViewBag["Reserva"]</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    Para SunSet Hotel es un gusto tenerlos en nuestras instalaciones, los esperamos.
                </p>
            } else {

            }
        }}
        
        <button type="submit" class="btn btn-success">Aceptar</button>
    </div>
</article>
