
@{
    ViewBag.Title = "Facilidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<article class="col-xs-12 col-sm-8 col-md-9">

    <div class="container">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <h1 class="font-italic text-center">Facilidades</h1>
                <p class="font-weight-light text-justify">
                    En Sunset Hotel podrá encontras bastantes facilidades para que su estadía sea la mejor, incluyendo distintas localidades de gran actractivo
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <img class="rounded img-fluid" alt="Piscina" src="~/img/7.jpeg" style="width:250px;">
                    </div>
                    <div class="col-8 col-sm-8">
                        <h4 class="font-italic text-center">Piscina</h4>
                        <p class="font-weight-light text-justify">
                            En SunSet encontra una gran piscina la cual cuenta con diferentes niveles de profundidad para que tanto niños como adultos puedan relajarse y disfrutar del gran ambiente que posee SunSent.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <img class="rounded img-fluid" alt="Playa" src="~/img/5.jpeg" style="width:250px;">
                    </div>
                    <div class="col-8 col-sm-8">
                        <h4 class="font-italic text-center">Playa</h4>
                        <p class="font-weight-light text-justify">
                            En SunSet cuenta con una de las playas más hermosas del pais en donde podra disfrutar de una vista hermosa y relajante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               
                <div class="row">
                    <div class="col-4 col-sm-4">
                        <img class="rounded img-fluid" alt="Centro de relajacion" src="~/img/c6htqdhydthrldvku8no.jpg" style="width:250px;">
                    </div>
                    <div class="col-8 col-sm-8">
                        <h4 class="font-italic text-center">Centros de relajación</h4>
                        <p class="font-weight-light text-justify">
                            En SunSet encontrara varios centros de relajacion en donde disfrutar de una experiencia una en familia.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
  



</article>